h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:black;
    margin: 5px;
    font-size: 200px;
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
}

#score {
    display: flex;
    justify-content: center;
    text-align: center;
}

#reset {
    display: flex;
    justify-content: center;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}